[submodule "iotjs-url-module"]
	path = iotjs-url-module
	url = https://github.com/pmarkee/iotjs-url-module
[submodule "sleep"]
	path = sleep
	url = https://github.com/hs0225/my_modules.git
	branch = sleep
[submodule "sht1x"]
	path = sht1x
	url = https://github.com/hs0225/my_modules.git
	branch = sht1x
[submodule "smartthings-d2c"]
	path = smartthings-d2c
	url = https://github.com/hs0225/smart-things.git
[submodule "smartthings-c2c"]
	path = smartthings-c2c
	url = https://github.com/daeyeon/smartthings.git
